*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

body, h1 {
    margin: 0;
    
}

body{
    padding-top: 4rem;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}


#nav-logo {
    text-transform: uppercase;
}


#nav-bar {
background-color:rgba(17, 117, 17, 0.767) ;
height: 4rem;
position: fixed;
padding: 0 1rem;
top: 0;
right: 0;
left: 0;

}

#nav-container {
    max-width: 90rem;
    color: #e5e7eb;
    margin: 0, auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#nav-icon:active {
    background-color: darkolivegreen;
}

#nav-links-container {
    display: none;
    gap: 4rem;
}

.LINKS {
    color: white;
    text-decoration: none;
}

.LINKS:hover {
    color: rgb(199, 187, 187);
    text-decoration: underline;
}

@media (min-width: 1024px){
    #nav-icon {
        display:none
    }
    #nav-links-container{
        display:flex
    }
}


.main-container{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8rem);
   
}
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.taskcontainer{
    background-color: rgba(17, 117, 17, 0.767);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40rem;
    min-width: 10rem;
    height: 30rem;
    flex-direction: column;
    padding-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px black;
}

#enunciado{
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: 2px 1px 3px black;
}

.write{
    display: flex;
    padding: 1rem;
    width: 95%;
    max-width: 30rem;
    padding-bottom: 1rem;
}

input{
    border: none;
    padding-left: 1rem;
    border-radius: 0.25rem;
    padding: 0 1rem;
    width: 75%;
    max-width: 20rem;
    height: 2rem;
}

input:focus {
    outline: none;
}

#agregar{
    border-radius: 1rem;
    border: 1px solid black;
    background-color:  transparent;
    height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    padding: 0 0.5rem;
    margin-left: 0.5rem;
}

#agregar:hover{
    background-color: rgb(236, 231, 231);
}

#orden {
    border-radius: 0.25rem;
    border: 1px solid black;
    background-color:rgba(6, 128, 43, 0.692);
    margin-left: 0.5rem;
    height: 2rem;
    font-size: 0.7rem;
     font-style: oblique;
      font-weight: 600;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    padding: 0 0.5rem;
    width: 7rem;
}

#orden:hover{
    background-color: rgb(8, 116, 49) ;
}

.listas{
    width: 100%;
    max-height: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.primera-tarea{
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    align-items: center;
    border-top: 3px solid rgb(48, 45, 45);
    border-bottom: 1px solid rgb(43, 39, 39);
    background-color: rgb(185, 166, 166);
    
}

.primera-tarea p{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
}

.segunda-tarea{
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(48, 45, 45);
    border-bottom: 1px solid rgb(43, 39, 39);
    background-color:rgb(185, 166, 166) ;
    
}

.segunda-tarea p{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
}

.tercera-tarea{
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(48, 45, 45);
    border-bottom: 1px solid rgb(43, 39, 39);
    background-color: rgb(185, 166, 166);
    
}

.tercera-tarea p{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
}

.cuarta-tarea{
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(48, 45, 45);
    border-bottom: 1px solid rgb(43, 39, 39);
    background-color: rgb(185, 166, 166);
    
}

.cuarta-tarea p{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
}

.quinta-tarea{
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(48, 45, 45);
    border-bottom: 1px solid rgb(43, 39, 39);
    background-color: rgb(185, 166, 166);
    
}

.quinta-tarea p{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: justify;
}

.pocotexto{
    display: flex;
    flex-direction: column;
}

.check{
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
    cursor: pointer;
    background-color: transparent;
}
.check:hover{

   transform: translateY(-7px);
    box-shadow: 5px 10px 1px rgba(42, 109, 4, 0.521);
    transition: all 0.5s;
}

.check:active{
    transform: translateY(-1px);
    box-shadow: 5px 5px 1px rgba(30, 70, 6, 0.2);
}


.nono{
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
    cursor: pointer;
    background-color: transparent;
}


.nono:hover{
    
    transform: translateY(-7px);
    box-shadow: 5px 10px 1px rgba(161, 18, 8, 0.521);
    transition: all 0.5s
}

.nono:active{
    transform: translateY(-1px);
    box-shadow: 5px 5px 1px rgba(85, 8, 3, 0.2);
}
button{
    background-color: transparent;
}


 .datosfinales1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.2rem;
    gap: 1rem;

 }

 .datosfinales2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
 }

 .datosfinales1 p{
    font-size: 0.7rem;
    text-align: center;
 }

 .datosfinales2 p{
    font-size: 0.7rem;
    text-align: center;
    cursor: pointer;
 }

 .datosfinales2 p:hover{
    text-decoration: underline;
 }
